.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 202px;
    background-color: #90a7e3;
    border-radius: 9px;
}

.capa{
    width: 100%;
    border-radius: 9px 9px 0 0;
}

.container h2, .favoritar{
    padding: 0 1em;
    cursor: pointer;
}

.favoritar{
    width: 25px;
}

.link{
    text-decoration: none;
    color: var(--preto);
    text-align: left;
}