.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
    background-color: var(--preto);
}

.cabecalho img{
    width: 70px;
    height: 60px;
}

@media(max-width: 790px){
    .cabecalho{
        padding: 10px 30px;
    }
}