:root{
  --fonte: 'Monteserrat', sans-serif;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #E2E2E2E2;
  --hover: #1553be;
  --container: rgb(34, 33, 33);
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--container);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
